.box {
    position: fixed;
    top: 30px;
    right: 50px;
    max-width: 300px;
    width: 30%;
    padding: 1rem;
    border: solid 1px;
    border-radius: 10px;
}

.errorBox {
    border-color: var(--error-color);
    background-color:#f050501a;
}

.successBox {
    border-color: var(--success-color);
    background-color: #3c963c1a;
}