<div ngClass="content">
    <form [formGroup]="form" (ngSubmit)="submitHandler()" ngClass="container">
        <h2>{{!!userId ? "Edit" : "Create New"}} User</h2>

        <div ngClass="inputBox">
            <input formControlName="email" type="email" name="email" placeholder="Email">
            <ng-container *ngIf="showError('email')">
                <p ngClass="validation" *ngIf="isNotValid('email', 'required')">Field is required!</p>
                <p ngClass="validation" *ngIf="isNotValid('email', 'email')">Email is not valid!</p>
            </ng-container>
        </div>


        <div ngClass="inputBox">
            <input formControlName="firstName" type="text" name="firstName" placeholder="First Name">
            <ng-container *ngIf="showError('firstName')">
                <p ngClass="validation" *ngIf="isNotValid('firstName', 'required')">Field is required!</p>
                <p ngClass="validation" *ngIf="isNotValid('firstName', 'maxlength')">Name is too long!</p>
            </ng-container>
        </div>

        <div ngClass="inputBox">
            <input formControlName="lastName" type="text" name="lastName" placeholder="Last Name">
            <ng-container *ngIf="showError('lastName')">
                <p ngClass="validation" *ngIf="isNotValid('lastName', 'required')">Field is required!</p>
                <p ngClass="validation" *ngIf="isNotValid('lastName', 'maxlength')">Name is too long!</p>
            </ng-container>
        </div>

        <button ngClass="submit" [disabled]="form.invalid">Submit</button>

    </form>

    <button ngClass="back" routerLink="/home">Back</button>
</div>



